<section class="call">
  <div class="container">
    <div class="call__column">
      <div class="call__title">
        <h2>Оставьте заявку — перезвоним, проконсультируем, подключим</h2>
      </div>
      <div class="call__form">
        <div class="wpcf7 js" id="wpcf7-f305-o2" lang="ru-RU" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="/#wpcf7-f305-o2" method="post" class="wpcf7-form init" aria-label="Контактная форма"
            novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="305">
              <input type="hidden" name="_wpcf7_version" value="5.8.6">
              <input type="hidden" name="_wpcf7_locale" value="ru_RU">
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f305-o2">
              <input type="hidden" name="_wpcf7_container_post" value="0">
              <input type="hidden" name="_wpcf7_posted_data_hash" value="">
            </div>
            <p>
              <span class="wpcf7-form-control-wrap" data-name="userphone"><input size="40"
                  class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel request__form-tel"
                  aria-required="true" aria-invalid="false" placeholder="Комментарий" value="" type="tel"
                  name="userphone"></span>
              <span class="wpcf7-form-control-wrap" data-name="userphone"><input size="40"
                  class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel request__form-tel"
                  aria-required="true" aria-invalid="false" placeholder="Телефон" value="" type="tel"
                  name="userphone"></span>
              <input class="wpcf7-form-control wpcf7-submit has-spinner request__form-btn" type="submit"
                value="Оставить заявку"><span class="wpcf7-spinner"></span>
            </p>
            </p>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
