<section class="slider">
  <div class="container">
    <div class="slider__row">
      <div class="slider__title">
        <h2 class="slider__title_mob">С сервисом “Платежка” клиенты увеличивают чистую прибыль на 20-45% за счет экономии и оптимизации</h2>
        <h2 class="slider__title_hide">Наши клиенты</h2>
      </div>
      <div class="slider__wrapper">
        <div class="slider__nav">
          <div class="slider__button slider__button_clients-prev">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB" />
              <path d="M27 19.9995H13M13 19.9995L20 12.9995M13 19.9995L20 26.9995" stroke="#343433" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="slider__button slider__button_clients-next">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB" />
              <path d="M13 19.9995H27M27 19.9995L20 12.9995M27 19.9995L20 26.9995" stroke="#343433" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="swiper slider__clients">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider__card">
                <div class="slider__wrp">
                  <div class="slider__col">
                    <div class="slider__name">Марина Алексеева</div>
                    <div class="slider__company">ООО Будущие чемпионы</div>
                  </div>
                  <div class="slider__img">
                    <img src="../img/clients/1.png" alt="">
                  </div>
                </div>
                <div class="slider__text">«Освобождаете буквально руки для более важных вещей и даете дышать без бесконечных бумажек! Не хватит слов описать все фишки и достоинства»</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__card">
                <div class="slider__wrp">
                  <div class="slider__col">
                    <div class="slider__name">Андрей Попов</div>
                    <div class="slider__company">ООО Фильтрон</div>
                  </div>
                  <div class="slider__img">
                    <img src="../img/clients/2.png" alt="">
                  </div>
                </div>
                <div class="slider__text">«Хороший интерфейс, с ним приятно работать. Считаю это очень важным достоинством, так как работаю с сервисом регулярно»</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__card">
                <div class="slider__wrp">
                  <div class="slider__col">
                    <div class="slider__name">Елена Бредова</div>
                    <div class="slider__company">ВИНАР ГРУПП</div>
                  </div>
                  <div class="slider__img">
                    <img src="../img/clients/3.png" alt="">
                  </div>
                </div>
                <div class="slider__text">«Я легко формирую все документы, плачу налоги и сдаю отчетность. Удивительно, как можно упростить настолько сложное направление»</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__card">
                <div class="slider__wrp">
                  <div class="slider__col">
                    <div class="slider__name">Марина Алексеева</div>
                    <div class="slider__company">ООО Бетоныч</div>
                  </div>
                  <div class="slider__img">
                    <img src="../img/clients/2.png" alt="">
                  </div>
                </div>
                <div class="slider__text">«Освобождаете буквально руки для более важных вещей и даете дышать без бесконечных бумажек! Не хватит слов описать все фишки и достоинства”</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__card">
                <div class="slider__wrp">
                  <div class="slider__col">
                    <div class="slider__name">test</div>
                    <div class="slider__company">test</div>
                  </div>
                  <div class="slider__img">
                    <img src="../img/clients/1.png" alt="">
                  </div>
                </div>
                <div class="slider__text">test</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
