<section class="compare">
  <div class="container">
    <div class="compare__row">
      <div class="compare__title">
        <h2>Почему работа с нами - ваш лучший выбор</h2>
      </div>
      <div class="compare__inner">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Платежка</th>
              <th>Штатный бухгалтер</th>
              <th>Фрилансер или приходящий бухгалтер</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Цена</td>
              <td class="bg-green">
                <strong>от 5 720 ₽ в месяц</strong>
                <p>Подберем бухгалтера с опытом работы в Вашей отрасли</p>
              </td>
              <td class="bg-red">
                <strong>от 50 000 ₽ в месяц</strong>
                <p>Вы ищете сотрудника, надеясь на его опыт.</p>
              </td>
              <td class="bg-yellow">
                <strong>от 15 000 ₽ в месяц</strong>
                <p>Сложно найти хорошего специалиста.</p>
              </td>
            </tr>
            <tr>
              <td>Контакт с бухгалтером</td>
              <td class="bg-green">
                <p>Наш бизнес-ассистент в онлайн-чате с Вам</p>
              </td>
              <td class="bg-red">
                <p>Коммуникация налажена, но может заболеть</p>
              </td>
              <td class="bg-yellow">
                <p>Может пропасть</p>
              </td>
            </tr>
            <tr>
              <td>Риск утечки конфеденциальной информации</td>
              <td class="bg-green">
                <p>Работаем по договору, гарантия конфиденциальности</p>
              </td>
              <td class="bg-yellow">
                <p>Средний</p>
              </td>
              <td class="bg-yellow">
                <p>Бухгалтер иногда онлайн, но может уволиться, может уволиться и тогда всё встанет на месяц</p>
              </td>
            </tr>
            <tr>
              <td>Страхование ответственности</td>
              <td class="bg-green">
                <p>Ответственность застрахована на 100 000 000 ₽</p>
              </td>
              <td class="bg-red">
                <p>Нет</p>
              </td>
              <td class="bg-red">
                <p>Нет</p>
              </td>
            </tr>
            <tr>
              <td>Документооборот</td>
              <td class="bg-green">
                <p>Вы направляете документы через удобное приложение</p>
              </td>
              <td class="bg-yellow">
                <p>Бухгалтер самостоятельно обрабатывает входящие документы, и контроль над этим процессом у вас
                  отсутствует</p>
              </td>
              <td class="bg-yellow">
                <p>Бухгалтер автономно обрабатывает входящие документы</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="compare__sldr">
        <div class="compare__slider swiper-container swiper">
          <div class="compare__button-prev compare__button">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB"></circle>
              <path d="M27 19.9995H13M13 19.9995L20 12.9995M13 19.9995L20 26.9995" stroke="#343433" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <!-- Ваши слайды с таблицей сюда -->
            <div class="swiper-slide">
              <div class="swiper-slide__head">Цена</div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__head">Контакт с бухгалтером</div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__head">Риск утечки конфеденциальной информации</div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__head">Страхование ответственности</div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__head">Оптимизация налогов</div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__head">Документооборот</div>
            </div>
          </div>
          <!-- Добавьте стрелки навигации для переключения слайдов -->
          <div class="compare__button-next compare__button">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB"></circle>
              <path d="M13 19.9995H27M27 19.9995L20 12.9995M27 19.9995L20 26.9995" stroke="#343433" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>

          <!-- Добавьте индикацию текущего слайда -->
          <div class="swiper-scrollbar"></div>
        </div>
        <div thumbsSlider="" class="swiper compare__thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#E0FBF1" />
                        <path d="M6 12L10 16L18 8" stroke="#36A459" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBE0E0"></rect>
                        <path d="M8 16L16 8" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M8 8L16 16" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBF2E0"></rect>
                        <path d="M6 12L10 16L18 8" stroke="#9DA0A1" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#E0FBF1" />
                        <path d="M6 12L10 16L18 8" stroke="#36A459" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBE0E0"></rect>
                        <path d="M8 16L16 8" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M8 8L16 16" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBF2E0"></rect>
                        <path d="M6 12L10 16L18 8" stroke="#9DA0A1" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#E0FBF1" />
                        <path d="M6 12L10 16L18 8" stroke="#36A459" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBE0E0"></rect>
                        <path d="M8 16L16 8" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M8 8L16 16" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBF2E0"></rect>
                        <path d="M6 12L10 16L18 8" stroke="#9DA0A1" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#E0FBF1" />
                        <path d="M6 12L10 16L18 8" stroke="#36A459" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBE0E0"></rect>
                        <path d="M8 16L16 8" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M8 8L16 16" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBF2E0"></rect>
                        <path d="M6 12L10 16L18 8" stroke="#9DA0A1" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="compare__column">
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Платежка</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#E0FBF1" />
                        <path d="M6 12L10 16L18 8" stroke="#36A459" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 5 720 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Подберем бухгалтера с опытом работы в Вашей отрасли</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Штатный бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBE0E0"></rect>
                        <path d="M8 16L16 8" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M8 8L16 16" stroke="#F11A27" stroke-width="1.6" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 50 000₽ в месяц</div>
                      <div class="swiper-slide__bottom">Вы ищете сотрудника, надеясь на его опыт.</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide__list">
                  <div class="swiper-slide__top">Фрилансер или приходящий бухгалтер</div>
                  <div class="swiper-slide__wrap">
                    <div class="swiper-slide__img">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#FBF2E0"></rect>
                        <path d="M6 12L10 16L18 8" stroke="#9DA0A1" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="swiper-slide__col">
                      <div class="swiper-slide__sub">от 15 000 ₽ в месяц</div>
                      <div class="swiper-slide__bottom">Сложно найти хорошего специалиста.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
