<section class="connect">
  <div class="container">
    <div class="connect__row">
      <div class="connect__title">
        <h2></h2>
      </div>
      <div class="connect__subtitle"></div>
      <div class="connect__items">
        <div class="connect__item">
          <div class="connect__step connect__step_red">
            <span>1</span>
            шаг
          </div>
          <div class="connect__clap">
            <div class="connect__text">
              Мы поможем получить ЭЦП, настроить МЧД и передать отчетность нам.
            </div>
            <div class="connect__text connect__text_strong"></div>
          </div>
        </div>
        <div class="connect__item">
          <div class="connect__step  connect__step_blue">
            <span>2</span>
            шаг
          </div>
          <div class="connect__clap">
            <div class="connect__text">
              Настраиваем ограниченный доступ в банк-клиент для ваших доверенных сотрудников
            </div>
            <div class="connect__text connect__text_strong">Мы сами будем загружать платежки, а Вы - экономить время.
            </div>
          </div>
        </div>
        <div class="connect__item connect__item_last">
          <div class="connect__wrap">
            <div class="connect__step  connect__step_green">
              <span>3</span>
              шаг
            </div>
            <div class="connect__clap">
              <div class="connect__text">
                Разворачиваем 1С и проверяем отчетность.
              </div>
              <div class="connect__text connect__text_strong">Сдадим пропущенные отчёты и исправим ошибки.</div>
            </div>
          </div>
          <div class="connect__wrap">
            <div class="connect__img">
              <img src="../img/hp.png" alt="">
            </div>
            <buttoon class="connect__btn btn-reset">Оставить заявку</buttoon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
