<seection class="faq">
  <div class="container">
    <div class="faq__column">
      <div class="faq__title">
        <h2>Остались вопросы?</h2>
      </div>
      <div class="faq__wrap">
        <div class="faq__items">
          <div class="faq__item">
            <div class="faq__head">А заменит ли мне аутсорсинг штатного специалиста?</div>
            <div class="faq__text">Услуга по ведению профессионального бухгалтерского учета полностью заменит вашего штатного бухгалтера. Более того, фактически вы получите сразу несколько высококачественных специалистов в нашем лице. Которые не только подготовят и сделают проводки, сдадут отчетность, но и рассчитают зарплату и зарплатные налоги, организуют кадровый учет и окажут содействие в легальной оптимизации налогов. И все это под пристальным ежедневным контролем главного бухгалтера.</div>
          </div>
          <div class="faq__item">
            <div class="faq__head">Как сдать отчеты через интернет?</div>
            <div class="faq__text">Вам потребуется оформить и получить ЭЦП (это электронная цифровая подпись). За ее получением необходимо обратиться лично в налоговую инспекцию по месту постановки на учет. ЭЦП выдается на флэшке (называется токен) и при ее наличии сможете сдавать отчетность в уполномоченные органы. Кроме того, преимуществом ЭЦН является возможность использования электронного документооборота с партнерами и поставщиками (покупателями), заказывать сверки, получать сведения о больничных листах и много других полезностей, сильно экономящих ваше время.          </div>
          </div>
        </div>
        <div class="faq__items">
          <div class="faq__item">
            <div class="faq__head">А заменит ли мне аутсорсинг штатного специалиста?</div>
            <div class="faq__text">Услуга по ведению профессионального бухгалтерского учета полностью заменит вашего штатного бухгалтера. Более того, фактически вы получите сразу несколько высококачественных специалистов в нашем лице. Которые не только подготовят и сделают проводки, сдадут отчетность, но и рассчитают зарплату и зарплатные налоги, организуют кадровый учет и окажут содействие в легальной оптимизации налогов. И все это под пристальным ежедневным контролем главного бухгалтера.</div>
          </div>
          <div class="faq__item">
            <div class="faq__head">Как сдать отчеты через интернет?</div>
            <div class="faq__text">Вам потребуется оформить и получить ЭЦП (это электронная цифровая подпись). За ее получением необходимо обратиться лично в налоговую инспекцию по месту постановки на учет. ЭЦП выдается на флэшке (называется токен) и при ее наличии сможете сдавать отчетность в уполномоченные органы. Кроме того, преимуществом ЭЦН является возможность использования электронного документооборота с партнерами и поставщиками (покупателями), заказывать сверки, получать сведения о больничных листах и много других полезностей, сильно экономящих ваше время.          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</seection>
