<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <div class="hero__row hero__row_left">
        <div class="hero__column">
          <div class="hero__badge">Для юр. лиц</div>
          <div class="hero__title">
            <h1>Полный аутсорсинг бухгалтерии, налогов и ВЭД для вашей компании</h1>
          </div>
          <div class="hero__subtitle">Отправляйте и принимайте платежи от своих бизнес партнеров быстро и легко</div>
          <ul class="hero__list list-reset">
            <li>Подберем команду под Вашу отрасль: клиентского менеджера, ведущего бухгалтера, налогового консультанта,
              специалиста по ВЭД и юриста</li>
            <li>Законно сэкономим на налогах до 29%</li>
            <li>Профессионалы в платежах по всему Миру</li>
          </ul>
          <div class="hero__button">
            <a class="btn-reset ">Рассчитать транзакцию</a>
          </div>
        </div>
      </div>
      <div class="hero__row hero__row_right">
        <div class="hero__col">
          <div class="hero__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ach">
  <div class="container">
    <div class="ach__items">
      <div class="ach__item">
        <div class="ach__img">
          <picture>
            <source srcset="../img/icons/1.svg" media="(min-width: 1400px)">
            <source srcset="../img/icons/1.svg" media="(max-width: 1399px)">
            <img src="../img/icons/1.svg" alt="">
          </picture>
        </div>
        <div class="ach__text">5 лет на рынке</div>
      </div>
      <div class="ach__item">
        <div class="ach__img">
          <picture>
            <source srcset="../img/icons/2.svg" media="(min-width: 1400px)">
            <source srcset="../img/icons/2.svg" media="(max-width: 1399px)">
            <img src="../img/icons/2.svg" alt="">
          </picture>
        </div>
        <div class="ach__text">Официальный договор</div>
      </div>
      <div class="ach__item ach__item_310">
        <div class="ach__img">
          <picture>
            <source srcset="../img/icons/3.svg" media="(min-width: 1400px)">
            <source srcset="../img/icons/3.svg" media="(max-width: 1399px)">
            <img src="../img/icons/3.svg" alt="">
          </picture>
        </div>
        <div class="ach__text">Персональный менеджер</div>
      </div>
      <div class="ach__item ach__item_310">
        <div class="ach__img">
          <picture>
            <source srcset="../img/icons/4.svg" media="(min-width: 1400px)">
            <source srcset="../img/icons/4.svg" media="(max-width: 1399px)">
            <img src="../img/icons/4.svg" alt="">
          </picture>
        </div>
        <div class="ach__text">Риски страхуются на 100 млн руб.</div>
      </div>
      <div class="ach__item">
        <div class="ach__img">
          <picture>
            <source srcset="../img/icons/5.svg" media="(min-width: 1400px)">
            <source srcset="../img/icons/5.svg" media="(max-width: 1399px)">
            <img src="../img/icons/5.svg" alt="">
          </picture>
        </div>
        <div class="ach__text">Член Сколково</div>
      </div>
    </div>
  </div>
</section>
