<section class="notice">
  <div class="container">
    <div class="notice__row">
      <div class="notice__item notice__item_white">
        <div class="notice__title">Об услуге</div>
        <div class="notice__content">Мы помогаем вашему бизнесу легко отправлять и получать деньги по всему миру быстро,
          и с минимальной комиссией. Проанализируем ваши потребности, разработаем оптимальное решение, выполним
          транзакцию и предоставим закрывающие документы. Каждый этап тщательно контролируется вашим персональным
          менеджером, чтобы обеспечить максимальную надежность и эффективность.</div>
        <div class="notice__head">
          <span>Оплачивайте контрагентам по всему миру</span>
          <p>Договор субподряда / агентский договор</p>
        </div>
        <div class="notice__head">
          <span>Получайте выручку от международных заказчиков </span>
          <p>Договор субподряда / агентский договор</p>
        </div>
      </div>
      <div class="notice__item notice__item_white">
        <div class="notice__title">Как это работает</div>
        <div class="notice__content">На примере получения выручки от зарубежного контрагента</div>
        <div class="notice__head">Ваш контрагент заключает договор с компанией Платежка</div>
        <div class="notice__head">Платежка расплачивается с вами в вашей стране</div>
      </div>
      <div class="notice__rows">
        <div class="notice__top">Рассчитаем размер комиссии и ответим на вопросы в течении 5 минут</div>
        <div class="notice__wrap">
          <div class="notice__img">
            <img src="../img/notice-img.png" alt="">
          </div>
          <div class="notice__wrapper">
            <p>Проконсультирует главный менеджер компании, который работает с международными операциями около 8 лет</p>
            <ul class="list-reset social" title="">
              <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tg" aria-label="Наша страничка в Telegram"></a></li>
              <li class="social__item"><a href="#" target="_blank" class="social__link social__link--wa" aria-label="Наша страничка во WhatsApp"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
