<section class="package">
  <div class="container">
    <div class="package__wrap">
      <div class="package__row">
        <div class="package__column">
          <div class="package__title">
            <h3>Пакеты услуг для отраслей</h3>
          </div>
          <div class="package__subtitle">
            Всё, что нужно селлеру на маркетплейсах — в одной подписке за 1 500₽ в месяц
          </div>
          <ul class="package__list list-reset">
            <li>Подготовим расчеты, уведомления, декларацию за год под ключ;</li>
            <li>Обработаем банковские операции и все отчеты маркетплейсов за год (52 недели, 82 отчёта);</li>
            <li>Рассчитаем налог УСН и страховые взносы к уплате;</li>
            <li>Сформируем декларацию УСН;</li>
            <li>Подготовим платежные поручения на оплату налога УСН и взносов;</li>
            <li>Подготовим Книгу учёта доходов;</li>
            <li>Проконсультируем по всем вопросам по закрытию года.</li>
          </ul>
          <div class="package__btn">
            <a href="">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="package__row">
        <div class="package__img">
          <img src="../img/packedge.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
