<section class="request">
  <div class="container">
    <div class="request__row">
      <div class="request__column">
        <div class="request__title">
          <h3 class="request__title_show">Предприниматели мыслят возможностями, а не ограничениями</h3>
          <h3 class="request__title_hide">Напишите задачу в чат - мы все сделаем !</h3>
        </div>
        <div class="request__subtitle">Мы стараемся создать стабильность и предсказуемость в любых вызовах</div>
        <div class="request__btn request__btn_hide">
          <button class="btn-reset" data-graph-path="">Стать клиентом</button>
        </div>
      </div>
      <div class="request__column">
        <div class="request__img">
          <img src="../img/request.png" alt="Предприниматели мыслят возможностями, а не ограничениями">
        </div>
        <div class="request__btn request__btn_show">
          <button class="btn-reset" data-graph-path="">Стать клиентом</button>
        </div>
      </div>
    </div>
  </div>
</section>
