<secttion class="rev">
  <div class="container">
    <div class="rev__column">
      <div class="rev__title">
        <h2>Кейсы</h2>
      </div>
      <div class="rev__row">
        <div class="rev__item rev__item_green">
          <div class="rev__img">
            <picture>
              <source srcset="../img/rev/1.png" media="(min-width: 1400px)">
              <source srcset="../img/rev/1.png" media="(max-width: 1399px)">
              <img src="../img/rev/1.png" alt="">
            </picture>
          </div>
          <div class="rev__text">В 1.9 раза снизили налоги и&nbsp;избавились от лишних затрат на бухгалтера</div>
          <div class="rev__name">Максим Липилин<br>
            директор СК "Бетоныч"</div>
        </div>
        <div class="rev__item rev__item_red">
          <div class="rev__img">
            <picture>
              <source srcset="../img/rev/2.png" media="(min-width: 1400px)">
              <source srcset="../img/rev/2.png" media="(max-width: 1399px)">
              <img src="../img/rev/2.png" alt="">
            </picture>
          </div>
          <div class="rev__text">Проводим с Платежкой все наши транзакций в Турцию</div>
          <div class="rev__name">Юлия Макарова,<br> финансовый директор Миран Трейд</div>
        </div>
        <div class="rev__item rev__item_yellow">
          <div class="rev__img">
            <picture>
              <source srcset="../img/rev/3.png" media="(min-width: 1400px)">
              <source srcset="../img/rev/3.png" media="(max-width: 1399px)">
              <img src="../img/rev/3.png" alt="">
            </picture>
          </div>
          <div class="rev__text">Ведем всю бухгалтерию и помогаем с платежами в Европу. В 2024 году это сложная задача
          </div>
          <div class="rev__name">Иванова Анна<br>
            CEO компании "Филтрон"</div>
        </div>
        <div class="rev__item rev__item_blue">
          <div class="rev__img">
            <picture>
              <source srcset="../img/rev/4.png" media="(min-width: 1400px)">
              <source srcset="../img/rev/4.png" media="(max-width: 1399px)">
              <img src="../img/rev/4.png" alt="">
            </picture>
          </div>
          <div class="rev__text">Согласование договоров и&nbsp;весь бухучет, включая Озон и Яндекс.Маркет</div>
          <div class="rev__name">Алан Саиров <br>
            руководитель отдела финансов</div>
        </div>
      </div>
    </div>
  </div>
</secttion>
