<section class="save">
  <div class="container">
    <div class="save__column">
      <div class="save__title">
        <h2>Ручаемся за безопасность</h2>
      </div>
      <div class="save__row">
        <div class="save__left save__left_green">
          <div class="save__wrap">
            <div class="save__head save__head_white">Предупреждаем большое количество ошибок</div>
            <div class="save__text save__text_white">Проводим тщательную проверку всех бухгалтерских данных. Это позволяет нам выявлять потенциальные ошибки и предупреждать их появление до того, как они превратятся в серьезные проблемы</div>
          </div>
          <div class="save__img">
            <img src="../img/save.png" alt="">
          </div>
        </div>
        <div class="save__right save__right_grey">
          <div class="save__col">
            <div class="save__head">Застрахуем риски на 100 млн. ₽</div>
            <div class="save__text">Риски застрахованы и прописаны в договоре. Компенсируем штрафы, если они возникнут по нашей вине.
            </div>
          </div>
          <div class="save__col">
            <div class="save__head">Позаботимся о сохранении данных</div>
            <div class="save__text">Аккредитованы в Минцифре, используем собственное ПО и раз в квартал проводим обязательный внешний аудит.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
