<section class="seo">
  <div class="container">
    <div class="seo__column">
      <div class="seo__title">
        <h2>Услуги онлайн-бухгалтерии от сервиса "Платежка" в Москве, Московской области и в любых регионах России</h2>
      </div>
      <div class="seo__text">
        <p>Платежка – аутсорсинговая компания, предоставляющая комплексные онлайн услуги по постановке, восстановлению и
          ведению бухгалтерского и управленческого учета в любых регионах РФ. Вы можете спокойно передать нам ведение
          своей бухгалтерии, наша деятельность застраховано и мы несем финансовую ответственность за ее результаты.</p>
        <p>Не только правильно организуем бухгалтерский учет, но и точно в срок отправим декларации и всю отчетность,
          что избавит ваше предприятие от финансовых санкций. Отслеживаем все новости и изменения законодательства.</p>
      </div>
    </div>
  </div>
</section>
