<section class="services">
  <div class="container">
    <div class="services__column">
      <div class="services__title">
        <h2>Доверьте нам бухгалтерию, развивайте бизнес</h2>
      </div>
      <div class="services__row">
        <div class="services__item services__item_3">
          <div class="services__head">
            <h3>Правильный старт на аутсорсинге</h3>
          </div>
          <div class="services__text">Изначально правильно поставим бухгалтерский учет. Предложим лучший вариант
            налогообложения</div>
          <div class="services__img">
            <img src="../img/services/1.png" alt="">
          </div>
        </div>
        <div class="services__item services__item_9">
          <div class="services__head">
            <h3>На нас всё общение с налоговой и другими органами</h3>
          </div>
          <div class="services__text">Письменные ответы на запросы налоговых и других компетентных органов.
            Разблокировка банковского счета</div>
          <div class="services__img">
            <img src="../img/services/2.png" alt="">
          </div>
        </div>
        <div class="services__item services__item_3">
          <div class="services__head">
            <h3>Наведём порядок в бухгалтерии</h3>
          </div>
          <div class="services__text">Ведение (при необходимости восстановление) учета. Расчет налогов. Сдача отчетов.
          </div>
          <div class="services__img">
            <img src="../img/services/3.png" alt="">
          </div>
        </div>
        <div class="services__item services__item_3">
          <div class="services__head">
            <h3>Кадровый учет</h3>
          </div>
          <div class="services__text">Расчет заработной платы. Белые методы налоговой оптимизации.</div>
          <div class="services__img">
            <img src="../img/services/4.png" alt="">
          </div>
        </div>
        <div class="services__item services__item_3">
          <div class="services__head">
            <h3>Снизим налоги</h3>
          </div>
          <div class="services__text">Изучение ситуации и предложения по снижению налоговой нагрузки</div>
          <div class="services__img services__img_pl">
            <img src="../img/services/5.png" alt="">
          </div>
        </div>
        <div class="services__item services__item_9">
          <div class="services__head">
            <h3>Без дела не тревожим</h3>
          </div>
          <div class="services__text">Все виды учета можете оформить в одном тарифе</div>
          <div class="services__img services__img_pl">
            <img src="../img/services/6.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
