<section class="service">
  <div class="container">
    <div class="service__column">
      <div class="service__title">Предоставьте бухучет нам и фокусируйтесь на своем бизнесе
      </div>
      <div class="service__subtitle">
        Мы предлагаем надежные и проверенные решения для вашего бизнеса, чтобы вы могли продолжать работать и развиваться даже в сложных условиях. Наша компания специализируется на международных платежах для юридических лиц, обеспечивая безопасность и соответствие всем законодательным требованиям.
      </div>
      <div class="service__items">
        <div class="service__item">
          <div class="service__head">Интернет-бухгалтерия</div>
          <div class="service__subhead">Просто направляйте в чате все задачи по бухгалтерии, кадрам и&nbsp;налогам и наслаждайтесь результатом</div>
          <div class="service__buttons">
            <button class="btn-reset service__buttons_bwhite">от 920 ₽ в месяц</button>
            <a href=""><button class="btn-reset service__buttons_blue">Подробнее</button></a>
          </div>
        </div>
        <div class="service__item">
          <div class="service__head">Бухгалтерские услуги для ВЭД</div>
          <div class="service__subhead">Подготовим документы и проведем платежи</div>
          <div class="service__buttons">
            <button class="btn-reset service__buttons_bwhite">от 920 ₽ в месяц</button>
            <a href=""><button class="btn-reset service__buttons_blue">Подробнее</button></a>
          </div>
        </div>
        <div class="service__item">
          <div class="service__head">Бухгалтерское обслуживание</div>
          <div class="service__subhead">Подготовим/сдадим отчетность, рассчитаем зарплату, изготовим документы, решим вопросы с налоговой</div>
          <div class="service__buttons">
            <button class="btn-reset service__buttons_bwhite">от 5 720 ₽ в месяц</button>
            <a href=""><button class="btn-reset service__buttons_blue">Подробнее</button></a>
          </div>
        </div>
        <div class="service__item">
          <div class="service__head">Регистрация бизнеса</div>
          <div class="service__subhead">Откроем фирму без походов в ФНС России, очередей и&nbsp;государственных пошлин.</div>
          <div class="service__buttons">
            <button class="btn-reset service__buttons_bwhite">Бесплатно</button>
            <a href=""><button class="btn-reset service__buttons_blue">Подробнее</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
