<section class="slider">
  <div class="container">
    <div class="slider__row">
      <div class="slider__title">
        <h2>Разовые услуги сервиса Платежка</h2>
        <div class="slider__nav">
          <div class="slider__button_prev">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB" />
              <path d="M27 19.9995H13M13 19.9995L20 12.9995M13 19.9995L20 26.9995" stroke="#343433" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="slider__button_next">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB" />
              <path d="M13 19.9995H27M27 19.9995L20 12.9995M27 19.9995L20 26.9995" stroke="#343433" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
      </div>
      <div class="slider__wrapper">
        <div class="slider__nav">
          <div class="slider__button_prev">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB" />
              <path d="M27 19.9995H13M13 19.9995L20 12.9995M13 19.9995L20 26.9995" stroke="#343433" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="slider__button_next">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="19.9995" r="20" fill="#F9FAFB" />
              <path d="M13 19.9995H27M27 19.9995L20 12.9995M27 19.9995L20 26.9995" stroke="#343433" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="swiper slider__start">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider__item">
                <div class="slider__head">Сдадим нулевой отчет</div>
                <div class="slider__subhead">Сделаем и направим любую форму отчётности</div>
                <div class="slider__wrap">
                  <button class="slider__price">19 999 ₽</button>
                  <a class="slider__link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__item">
                <div class="slider__head">Подадим декларацию по налогам или другой документ  в ФСС или ПФР</div>
                <div class="slider__subhead"></div>
                <div class="slider__wrap">
                  <dbuttoniv class="slider__price">19 999 ₽</dbuttoniv>
                  <a class="slider__link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__item">
                <div class="slider__head">Любой консалтинг по постановке и ведению учета</div>
                <div class="slider__subhead">Посчитаем выгоду от ОСН, УСН, ПСН для вашего бизнеса</div>
                <div class="slider__wrap">
                  <button class="slider__price">19 999 ₽</button>
                  <a class="slider__link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__item">
                <div class="slider__head">Посчитаем выгоду от ОСН, УСН, ПСН для вашего бизнеса</div>
                <div class="slider__subhead"></div>
                <div class="slider__wrap">
                  <button class="slider__price">19 999 ₽</button>
                  <a class="slider__link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__item">
                <div class="slider__head">t</div>
                <div class="slider__subhead">t</div>
                <div class="slider__wrap">
                  <button class="slider__price">19 999 ₽</button>
                  <a class="slider__link">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
