<section class="spec">
  <div class="container">
    <div class="spec__row">
      <div class="spec__title">
        <h2>Специалисты, которые будут помогать вашему бизнесу</h2>
      </div>
      <div class="tabs spec__tabs" data-tabs="spec">
        <ul class="list-reset tabs__nav">
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Команда</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Ведущий бухгалтер</button>
          </li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Юрист</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Налоговик</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Кадровик</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Бизнес-ассистент</button>
          </li>
        </ul>
        <div class="spec__select">
          <label for="specialization"></label>
          <select id="specialization">
            <option value="spec1">Команда</option>
            <option value="spec2">Ведущий бухгалтер</option>
            <option value="spec3">Юрист</option>
            <option value="spec4">Налоговик</option>
            <option value="spec5">Кадровик</option>
            <option value="spec6">Бизнес-ассистент</option>
          </select>
        </div>
        <div class="tabs__content">
          <div class="tabs__panel">
            <div class="spec__img">
              <picture>
                <source srcset="../img/spec/1.jpg" media="(min-width: 1400px)">
                <source srcset="../img/spec/1.jpg" media="(max-width: 1399px)">
                <img src="../img/spec/1.jpg" alt="">
              </picture>
            </div>
            <div class="spec__wrap">
              <div class="spec__head">Марина Семченко</div>
              <div class="spec__year">10 лет опыта</div>
              <div class="spec__text">Постановка или восстановление бухучета. Легальная оптимизация налоговых платежей
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="spec__img">
              <picture>
                <source srcset="../img/spec/1.jpg" media="(min-width: 1400px)">
                <source srcset="../img/spec/1.jpg" media="(max-width: 1399px)">
                <img src="../img/spec/1.jpg" alt="">
              </picture>
            </div>
            <div class="spec__wrap">
              <div class="spec__head">Марина Семченко</div>
              <div class="spec__year">10 лет опыта</div>
              <div class="spec__text">Постановка или восстановление бухучета. Легальная оптимизация налоговых платежей
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="spec__img">
              <picture>
                <source srcset="../img/spec/1.jpg" media="(min-width: 1400px)">
                <source srcset="../img/spec/1.jpg" media="(max-width: 1399px)">
                <img src="../img/spec/1.jpg" alt="">
              </picture>
            </div>
            <div class="spec__wrap">
              <div class="spec__head">Марина Семченко</div>
              <div class="spec__year">10 лет опыта</div>
              <div class="spec__text">Постановка или восстановление бухучета. Легальная оптимизация налоговых платежей
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="spec__img">
              <picture>
                <source srcset="../img/spec/1.jpg" media="(min-width: 1400px)">
                <source srcset="../img/spec/1.jpg" media="(max-width: 1399px)">
                <img src="../img/spec/1.jpg" alt="">
              </picture>
            </div>
            <div class="spec__wrap">
              <div class="spec__head">Марина Семченко</div>
              <div class="spec__year">10 лет опыта</div>
              <div class="spec__text">Постановка или восстановление бухучета. Легальная оптимизация налоговых платежей
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="spec__img">
              <picture>
                <source srcset="../img/spec/1.jpg" media="(min-width: 1400px)">
                <source srcset="../img/spec/1.jpg" media="(max-width: 1399px)">
                <img src="../img/spec/1.jpg" alt="">
              </picture>
            </div>
            <div class="spec__wrap">
              <div class="spec__head">Марина Семченко</div>
              <div class="spec__year">10 лет опыта</div>
              <div class="spec__text">Постановка или восстановление бухучета. Легальная оптимизация налоговых платежей
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="spec__img">
              <picture>
                <source srcset="../img/spec/1.jpg" media="(min-width: 1400px)">
                <source srcset="../img/spec/1.jpg" media="(max-width: 1399px)">
                <img src="../img/spec/1.jpg" alt="">
              </picture>
            </div>
            <div class="spec__wrap">
              <div class="spec__head">Марина Семченко</div>
              <div class="spec__year">10 лет опыта</div>
              <div class="spec__text">Постановка или восстановление бухучета. Легальная оптимизация налоговых платежей
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<script>


</script>
