<section class="v-contacts">
  <div class="container">
    <div class="v-contacts__column">
      <div class="v-contacts__title">
        <h2>Будем рады видеть вас в нашем <span>главном офисе</span>, расположенном в Москве в технопарке «Физтехпарк»</h2>
      </div>
      <div class="v-contacts__items">
        <div class="v-contacts__item">
          <div class="v-contacts__adress">
            <span>Адрес: </span>
            <p>Долгопрудненское шоссе, д. 3.</p>
          </div>
          <div class="v-contacts__phone">
            <span>Телефон:  </span>
            <a href="tel:+7 (800) 533-88-19">+7 (800) 533-88-19</a>
          </div>
          <button class="v-contacts__button btn-reset">Оставить заявку</button>
        </div>
        <div class="v-contacts__item v-contacts__item_img">
          <img src="../img/v/v-contacts-img-1.jpg" alt="">
        </div>
        <div class="v-contacts__item v-contacts__item_img">
          <img src="../img/v/v-contacts-img-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
