<div class="v-wrap-form">
  <section class="v-form">
    <div class="container">
      <div class="v-form__row">
        <div class="v-form__column">
          <div class="v-form__title">
            <h2>Оставьте заявку — перезвоним, проконсультируем, подключим</h2>
          </div>
          <div class="v-form__subtitle">Вас проконсультирует наш специалист по переводам зарубеж.</div>
          <div class="v-form__form">
            <form action="">
              <span class="wpcf7-form-control-wrap">
                <input class="v-form__input" type="text" placeholder="Имя">
              </span>
              <span class="wpcf7-form-control-wrap">
                <input class="v-form__input" type="number" placeholder="Телефон">
              </span>
              <span class="wpcf7-form-control-wrap">
                <input class="v-form__input" type="text" placeholder="Комментарий">
              </span>
              <input class="v-form__submit btn-reset" type="submit" value="Оставить заявку"
                data-callibri_parse_form="form">
            </form>
          </div>
        </div>
        <div class="v-form__column v-form__column_img">
          <img src="../img/v/v-form-img.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <div class="v-social">
    <div class="container">
      <div class="v-social__row">
        <div class="v-social__item v-social__item_social">
          <div class="v-social__title">Либо вы можете прямо сейчас <br> связаться с нами в мессенджерах</div>
          <ul class="list-reset social" title="">
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tg"
                aria-label="Наша страничка в Telegram"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--wa"
                aria-label="Наша страничка в WhatsApp"></a></li>
          </ul>
        </div>
        <div class="v-social__item v-social__item_blog">
          <div class="v-social__title">А еще мы активно ведем блоги в данных<br> соцсетях — присоединяйтесь!</div>
          <ul class="list-reset social" title="">
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tg"
                aria-label="Наша страничка в Telegram"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--dzen"
                aria-label="Наша страничка в Dzen"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vc"
                aria-label="Наша страничка в VC"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
                aria-label="Наша страничка в Контакте"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
