<section class="v-hero">
  <div class="container">
    <div class="v-hero__row">
      <div class="v-hero__column v-hero__column_left">
        <div class="v-hero__title">
          <div class="v-hero__top">Платежка — <div class="v-hero__top-blue"></div></div>
          <div class="v-hero__bottom">ваш надёжный платежный агент</div>
          <h1>Платежка — ваш надёжный платежный агент</h1>
        </div>
        <ul class="v-hero__list list-reset">
          <li><b>В далеком 2012</b> году мы начали деятельность облачной ВЭД бухгалтерии. За это время мы помогли
            <b>более 800</b> компаниям и предпринимателям с ВЭД.</li>
          <li>Сегодня мы специализируемся на платёжных операциях <b>за рубеж</b>: в Китай, США, Европу и другие страны.
            Мы — <b>резидент Сколково и аккредитованы</b> Минцифры России.</li>
        </ul>
        <div class="v-hero__coin-wrap">
          <div class="v-hero__coin v-hero__coin_one"></div>
          <div class="v-hero__coin v-hero__coin_two"></div>
          <div class="v-hero__coin v-hero__coin_three"></div>
          <div class="v-hero__coin v-hero__coin_four"></div>
        </div>
      </div>
      <div class="v-hero__column v-hero__column_right">
        <div class="v-hero__item">
          <div class="v-hero__img">
            <img src="../img/v/hh.png" alt="">
          </div>
          <div class="v-hero__content">Если вы разделяете наши ценности, то будем рады видеть вас в нашей команде. Актуальные вакансии на нашем hh.ru</div>
          <button class="v-hero__button btn-reset">Смотреть вакансии</button>
        </div>
        <div class="v-hero__item">
          <div class="v-hero__content">Вы можете пригласить специалистов «Платежки» для выступления на конференции</div>
          <button class="v-hero__button btn-reset">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>
