<section class="v-service">
  <div class="container">
    <div class="v-service__column">
      <div class="v-service__title">
        <h2><span>Платежная инфраструктура</span> нашего сервиса представляет собой </h2>
      </div>
      <div class="v-service__subtitle">Мы можем платить из стран:</div>
      <div class="v-service__alert">* — только прием средств</div>
      <div class="v-service__row">
        <div class="v-service__col v-service__col_globe">
          <div class="v-service__country v-service__country_left">
            <div class="v-service__country-name v-service__country-name_usa">США</div>
            <div class="v-service__country-name v-service__country-name_ger">Германия</div>
            <div class="v-service__country-name v-service__country-name_ch">Чехия</div>
            <div class="v-service__country-name v-service__country-name_tur">Турция</div>
            <div class="v-service__country-name v-service__country-name_kz">Казахстан</div>
          </div>
          <div class="v-service__globe">
            <img src="../img/v/v-globe.png" alt="">
            <img class="v-service__globe_mob" src="../img/v/v-globe-mobile.png" alt="">
            <div class="v-service__globe-point v-service__globe-usa"></div>
            <div class="v-service__globe-point v-service__globe-ger"></div>
            <div class="v-service__globe-point v-service__globe-ch"></div>
            <div class="v-service__globe-point v-service__globe-tur"></div>
            <div class="v-service__globe-point v-service__globe-kz"></div>
            <div class="v-service__globe-point v-service__globe-est"></div>
            <div class="v-service__globe-point v-service__globe-ru"></div>
            <div class="v-service__globe-point v-service__globe-gk"></div>
            <div class="v-service__globe-point v-service__globe-vet"></div>
            <div class="v-service__globe-point v-service__globe-kir"></div>
            <div class="v-service__globe-point v-service__globe-sing"></div>
          </div>
          <div class="v-service__country v-service__country_right">
            <div class="v-service__country-name v-service__country-name_est">Эстония</div>
            <div class="v-service__country-name v-service__country-name_ru">Россия</div>
            <div class="v-service__country-name v-service__country-name_gk">Гонконг*</div>
            <div class="v-service__country-name v-service__country-name_vet">Вьетнам</div>
            <div class="v-service__country-name v-service__country-name_kir">Киргизия</div>
            <div class="v-service__country-name v-service__country-name_sing">Сингапур</div>
          </div>
        </div>
        <div class="v-service__country v-service__country_left v-service__country_mob">
          <div class="v-service__country-name v-service__country-name_usa">США</div>
          <div class="v-service__country-name v-service__country-name_ger">Германия</div>
          <div class="v-service__country-name v-service__country-name_ch">Чехия</div>
          <div class="v-service__country-name v-service__country-name_tur">Турция</div>
          <div class="v-service__country-name v-service__country-name_kz">Казахстан</div>
          <div class="v-service__country-name v-service__country-name_est">Эстония</div>
            <div class="v-service__country-name v-service__country-name_ru">Россия</div>
            <div class="v-service__country-name v-service__country-name_gk">Гонконг*</div>
            <div class="v-service__country-name v-service__country-name_vet">Вьетнам</div>
            <div class="v-service__country-name v-service__country-name_kir">Киргизия</div>
            <div class="v-service__country-name v-service__country-name_sing">Сингапур</div>
        </div>
        <div class="v-service__col">
          <div class="v-service__items">
            <div class="v-service__item">
              <div class="v-service__number">11</div>
              <div class="v-service__content">офисы и компании в 11 странах</div>
            </div>
            <div class="v-service__item">
              <div class="v-service__number">32</div>
              <div class="v-service__content">сотрудника в московском офисе</div>
            </div>
            <div class="v-service__item">
              <div class="v-service__number">34</div>
              <div class="v-service__content">сотрудника за рубежом</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
