<section class="v-slider">
  <div class="container">
    <div class="v-slider__column">
      <div class="v-slider__title">
        <h2>Мы на выставках</h2>
        <div class="v-slider__navigation">
          <div class="v-slider__prev"></div>
          <div class="v-slider__next"></div>
        </div>
      </div>
      <div class="swiper v-slider__start">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/v/v-slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/v/v-slider-img-2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/v/v-slider-img-3.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/v/v-slider-img-4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/v/v-slider-img-4.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
