<section class="v-stage">
  <div class="container">
    <div class="v-stage__column">
      <div class="v-stage__title">
        <h2>Уже <span>12 лет</span> развиваемся в своем деле</h2>
      </div>
      <div class="v-stage__subtitle">Этапы развития</div>
      <div class="v-stage__items">
        <div class="v-stage__item v-stage__item_2012">Открыли свою бухгалтерию.  Развиваем направление по внешнеэкономической деятельности
        </div>
        <div class="v-stage__item v-stage__item_2014">Открыли облачную бухгалтерию для всех клиентов.  </div>
        <div class="v-stage__item v-stage__item_304 v-stage__item_2016">Открыли компанию в Чехии и Словакии. </div>
      </div>
      <div class="v-stage__date v-stage__date_ml282">
        <div class="v-stage__date-item v-stage__date-item_2012">2012</div>
        <div class="v-stage__date-item v-stage__date-item_2014">2014</div>
        <div class="v-stage__date-item v-stage__date-item_2016">2016</div>
      </div>
      <div class="v-stage__date v-stage__date_mr282">
        <div class="v-stage__date-item v-stage__date-item_2018">2018</div>
        <div class="v-stage__date-item v-stage__date-item_2021">2021</div>
        <div class="v-stage__date-item v-stage__date-item_2024">2024</div>
      </div>
      <div class="v-stage__items v-stage__items_pleft">
        <div class="v-stage__item v-stage__item_2018">Активно развиваем платежные направления. Работаем с Британией и США. Становимся не
          просто онлайн-бухгалтерией, а финтех-сервисом</div>
        <div class="v-stage__item v-stage__item_2021">
          <span>Начали разработку собственной платежной системы Veront. Выступаем на конференциях</span>
          <div class="v-stage__wrap">
            <img src="../img/v/v-stage-img-1.png" alt="">
            <img src="../img/v/v-stage-img-2.png" alt="">
          </div>
        </div>
        <div class="v-stage__item v-stage__item_2024">Вступили в Сколково. Открываем представительство в Гонконге. <b>Все наши платежи
            доходят в Китай в срок до 3-х дней</b></div>
      </div>
    </div>
  </div>
</section>
