<section class="v-staff">
  <div class="container">
    <div class="v-staff__column">
      <div class="v-staff__title">
        <h2>Наши сотрудники <span>знают всё</span> о технологиях платежей</h2>
      </div>
      <div class="v-staff__row">
        <div class="v-staff__img">
          <img src="..//img/v/v-staff-img.jpg" alt="">
        </div>
        <div class="v-staff__content">
          <p>Мы не просто выполняем ваши задачи как роботы — мы понимаем, как работают платежи, оплаты и планирование налогов. Каждый год мы развиваем наши компетенции и готовы поделиться нашим опытом.</p>
          <div class="v-staff__wrap">
            <b>Клочкова Юлия</b>
            <p>основатель сервиса «Платежка»</p>
          </div>
        </div>
      </div>
      <div class="v-staff__items">
        <div class="v-staff__item">
          <div class="v-staff__num">>85</div>
          <div class="v-staff__text">клиентов на текущем обслуживании</div>
        </div>
        <div class="v-staff__item">
          <div class="v-staff__num">>16</div>
          <div class="v-staff__text">лет в бизнесе, 4 года в аутсорсинге бухгалтерии</div>
        </div>
        <div class="v-staff__item">
          <div class="v-staff__num">9.2</div>
          <div class="v-staff__text">NPS индекс потребительской лояльности</div>
        </div>
      </div>
    </div>
  </div>
</section>
