// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
  --third-family: "Geometria", sans-serif;
  --font3: "SF Pro Display", sans-serif;
  --content-width: 1400px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  // colors
  --text-black: #343433;
  --text-white: #f8f8f8;
  --white-bg: #fff;
  --pink: #ff58ae;
  --red: #f11a27;
  --green: #36a459;
  --blue: #0e76f0;
  --pure-gray: #f9fafb;
  --gray: #9da0a1;
  --white-80: rgba(255, 255, 255, 0.8);
  --gray-30: #e5e6e7;
  --green-2: #e0fbf1;
  --red-2: #fbe0e0;
  --yellow: #fbf2e0;
  --white: #fff;
}
